{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div id="preloader">
        <i class="circle-preloader"></i>
        <img src="{% static 'img/core-img/pizza.png' %}" alt="">
    </div>

    <div class="search-wrapper">
        <div class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form action="#" method="post">
                        <input type="search" name="search" placeholder="O que está procurando...">
                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% include 'partials/menu.html' %}

    <section class="best-produto-area">
        <div class="container">
            <div class="row">
                {% if produtos %}
                {% for produto in produtos %}
                {% if produto.visivel == True %}
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-best-produto-area mb-30">
                        <img src="{% static produto.imagem.url %}" alt="">
                        <div class="produto-content">
                            <a href="{% url 'produto' produto.id %}">
                                <h5>{{produto.nome_produto}}</h5>
                            </a>
                        </div>
                    </div>
                </div>
                {% else%}
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-best-produto-area mb-30">
                        <img src="{% static produto.imagem.url %}" alt="">
                        <div class="produto-content">
                            <a href="{% url 'produto' produto.id %}">
                                <h5>{{produto.nome_produto}} (INDISPONÍVEL) </h5>
                            </a>
                        </div>
                    </div>
                </div>
                {% endif%}
                {% endfor %}
                {% else %}
                {% endif %}
            </div>
        </div>
    </section>

    {% include 'partials/footer.html' %}

{% endblock %}